@import "tailwindcss";

/* globals.css */
html {
  scroll-behavior: smooth;   /* fallback for anchor links */
}
/* * {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
} */

:root {
  --step-x: 7%;
  --step-y: 80px;
}

@media (min-width: 768px) {
  :root {
    --step-x: 10%;
    --step-y: 80px;
  }
}

@media (min-width: 1024px) {
  :root {
    --step-x: 19%;
    --step-y: 90px;
  }
}

@theme {
  --background-grid: linear-gradient(to right, #E5E7EB 1px, transparent 1px), 
                     linear-gradient(to bottom, #E5E7EB 1px, transparent 1px);
  --background-size-grid: 80px 80px;
}


/* app/globals.css  (or wherever your global CSS lives) */
html {
  scroll-behavior: smooth;          /* native smooth-scroll for #links */
}

/* Force GPU on heavy sections */
.framer-motion-container,
.bg-fixed,
img,
video {
  will-change: transform;
}

/* Optional: limit repaint on large background images */
.bg-image {
  transform: translateZ(0);
}

